*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 1.2rem;
    
  
}
body,html{
    width: 100vw;
    overflow-x: hidden;
    
}

.cabeçalho{
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
    position: fixed;
    width: 100%;
    max-width: 100%;
    background-color: blueviolet;
    padding: auto;
    padding: 7px;
    min-width: 200px;
    border:2px solid rgb(255, 102, 0);
    border-radius: 9px;
}
.logo-cabeçalho{
    border:2px solid rgb(226, 78, 10);
    border-radius: 100px;
    width: 5rem;
    height: 5rem;
  
  
}
.navegação{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
   
    
}
.item-navegação{
    color: white;
    text-decoration: none;
    
    
}
.item-navegação:hover{
    color: rgb(219, 243, 7);
}
.conteudo{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
   

}
.caixa-imagem{
    text-align: center;
    margin: auto;
    height: 100%;
    margin-top:3.9rem ;
    flex: 1  1 100%;
   

  
}
.imagem-caixa{
    max-width: 100%;
    flex-wrap: wrap;
    flex: 1;
    height:auto;
   

}
.apresentação{
    display: flex;
    min-width: 200px;
    justify-items: center;
     background-color: blueviolet;
     width: 100%;
     font-size: 1.2em;
     flex-wrap: wrap;
     flex: 1 1 250px;
     
   
    
}
.instrução{
    flex-wrap: wrap;
    flex: 1 1 280px;
    min-width: 300px;
    margin: 5px;
    margin-left: 2%;
    min-width: 34vw;
    margin-bottom: 120px;
    
  
   
}

.titulo{
font-size: 2em;
margin: 0px 10px 70px 10px ;
width: 100%;
color: wheat;
flex-wrap: wrap;
min-width: 100vw;
flex: 1 1 200px;
display: flex;
justify-content: center;
margin-bottom: 30%;




}
.descrição{
    flex: 2;
    padding-bottom: 10px;
    margin: 20px;
    color: rgb(226, 221, 221);
    font-size: 1.2em;
    padding-left: 7%;
    margin-top: -18%;
 

}
.chamada-atenção{
flex-wrap: wrap;
flex: 2 1 200px;
display: flex;
align-self: center;
margin-right: 36%;
width: 100%;





  
}
.imagem{
    margin-left: 50%;
    max-width: 100%;
    border: 2px solid rgb(226, 78, 10);
    border-radius: 16px; 
    flex-wrap: wrap;  
    flex: 2 1 260px;
  
}
.subtitulo{
    margin-left:2%;
    color: rgb(17, 226, 10);
    padding: 0px 10px 10px 10px;
    max-width: 100%;
    flex-wrap: wrap;
    width: 100% ;
    margin-left: 7%;
}
.usuario{
text-align: center;
margin-right: 70%;
margin-top: 1%;

}
.usuario-item1{
    width: 100%;
    padding: 2.5%;
    border: 2px solid  rgb(226, 24, 10);
    border-radius: 12px;
    cursor: pointer;
    margin-left:80%;
}
.usuario-item1:hover{
    color:rgb(134, 36, 11) ;
}
.caixa-icone{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 200px;
    margin-top: 1%;
    margin-bottom: 1%;
    gap: 20px;
}
.icones1{
    background-color: rgb(0, 255, 115);
    max-width: 100%;
    text-align: center;
    padding: 20px;
    border: 2px solid rgb(255, 81, 0);
    border-radius: 16px;
    color: rgb(1, 1, 2);
   
}
.icones2{
    background-color:  rgb(110, 226, 43);
    max-width: 100%;
    text-align: center;
    padding: 20px;
    border: 2px solid rgb(255, 81, 0);
    border-radius: 16px;

}
.icones3{
    background-color: brown;
    max-width: 100%;
    text-align: center;
    padding: 20px;
    border: 2px solid rgb(255, 81, 0);
    border-radius: 16px;
}
.negrito{
    color: rgb(89, 0, 255);
}
.gatilho-2{
    background-color: blueviolet;
   flex-wrap: wrap;
   flex: 1 1 200px;
   display: flex;
   
   

    
}
.gatilho-secundario{
    flex: 1 1 400px;
    margin: 40px ;
 
   
}
.descrição-secundaria{
    color: rgb(10, 7, 7);
    text-align: center;
    margin: 10px 20px;
    font-size: 2em;
    flex-wrap: wrap;

}
.paragrafo{
    text-align: center;
    width: 100%;
    margin:60px;
    margin-left: -4%;
    color: white;
    font-size:1.2em;
    flex: 1 1 766px;
    flex-wrap: wrap;
}
.negrito1{
    color:rgb(22, 252, 2);
}
.user{
    margin-left: 30%;
}
.usuario-item2{
   margin-left: 40%;
   width: 225px;
   padding: 9px;
   border: 2px solid red;
   border-radius: 10px;
   margin: 0px 20px 20px;
}
.usuario-item2:hover{
    color: red;
    cursor: pointer;
}
.caixa-atenção2{
    width: 200px;
    min-width: 400px;
    margin: 30px;
 
    
}
.item-imagem{
    border: 2px solid rgb(255, 81, 0);
    border-radius:20px;
    width: 424px;
    height: 450px;
    max-width: 100%;
    margin: 20px;
    
}
.container-redes{
    text-align: center;
    border-top: 2px solid  rgb(255, 102, 0);
    margin-top: -0.7%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 200px;
    font-size: 1.2em;

}
.titulo-final{
 color: red;
 margin-top: 1%;
 margin-bottom: 1%;

}
.paragrafo-final{
    margin-bottom:10%;
}
.usuarios{
    text-align: center;
    margin-top: -9%;
    margin-bottom: 3%;
    flex-wrap: wrap;
    min-width: 200px;
}
.button-item3{
    padding: 8px;
    border: 2px solid rgb(255, 102, 0) ;
    border-radius: 8px;

}
.button-item3:hover{
    color: red;
}
.rodapé{
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 2%;
    padding: 20px;

}
@media (max-width:781px) {
    
    .chamada-atenção{
        margin-top: -10%;
        padding-bottom:6%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        min-width: 200px;
        
    }
    .apresentação{
        margin: auto;
        min-width: 250px;
    }
    .subtitulo{
        margin-left: 21.5%;
        flex-wrap: wrap;
        min-width: 200px;
        
    }
    .usuario{
       margin-left: 33%;
       margin-top: 1%;
       flex-wrap: wrap;
       flex: 1 1 316px;
     

    }
    .usuario-item1{
        width: 200px;
        padding: 8px;
        min-width: 200px;
        margin-left: -1%;
        
    }
    .imagem{
        width: 250px;
        height: 250px;
    }
    .titulo{
        font-size: 1.5em;
        margin-left: -3%;
    }
    .cabeçalho{
       margin: auto;
      
    }
    .logo-cabeçalho{
        width: 70px;
        height: 70px;
      
   

    }
    .navegação{
        font-size: 1.1em;
        margin-top: ;
    }
    
}
@media (max-width:489px) {
    .titulo{
        font-size: 1.5em;
        margin-left: -1%;
    }
    .subtitulo{
       margin-left: 9.1%;
    }
    .usuario{
        margin-left: 27%;
        margin: 0px 20px;
    }
    .caixa-atenção{
        margin: 10px;
        flex: 1 1 200px;
    }
    .imagem{
        margin-left: 56% ;
        margin-top: -8%;
        
    }
    
}
@media (max-width:601px) {
    .subtitulo{
        margin-left: 15%;
        color: rgb(218, 217, 228);
       
    }
    .usuario{
        margin-left: 30%;
    }
    
}
@media (max-width:704px) {
    .imagem{
        display: none;
    }
    .titulo{
        font-size: 1.5em;
        margin-bottom: 23%;
        margin-left: -3%;
        flex-basis: 200px;
        padding: 10px;
        margin: 20px 30px 20px 0px;
    }
    
}
@media (max-width:935px) {
    .caixa-atenção2{
       text-align: center;
       background-color: aqua;
       min-width: 100%;
        margin: 0%;
        flex-wrap: wrap;
        
    
       
        }
    .item-imagem{
        min-width: 200px;
       margin: 80px;
      max-width: 100%;
    }
    .user{
      
       min-width: 100px;
       text-align: center;
     margin: 0%;
    }
    @media (max-width:507px) {
        .caixa-atenção2{
            margin: 0px 0px 50px;
            margin: 0%;
        }
        .item-imagem{
            width: 300px;
            height: 300px;
            margin-left: 13%;
            
        }
        .

        
    }
}
    @media (max-width:342px) {
        .item-imagem{
            display: none;
            
        }
        
    }
    






